{% extends 'layout.html' %} 
{% block content %}

<div class="card card-body p-5" style="background-color: #121212;">
  <h1>About</h1>

  <hr>
  
  <p>
    Unauthorized access is a potentially major problem for anyone who uses a
    computer or high-tech devices such as smartphones or tablets. The
    consequences for victims of these break-ins can include the loss of valuable
    data
  </p>

  <p>
    Passwords provide the first line of defense against unauthorized access to
    your computer and personal information. The stronger your password, the more
    protected your computer will be from hackers and malicious software. You
    should maintain strong passwords for all accounts on your computer.
  </p>

  <p>
    A password generator is a software tool that creates random or customized
    passwords for users. It helps users create stronger passwords that provide
    greater security for a given type of access.
  </p>

  <p>
    Password generators help those who have to constantly come up with new
    passwords to ensure authorized access for programs and to manage a large
    number of passwords for identity and access management. Other kinds of tools
    include a password vault, where users manage large numbers of passwords in a
    secure location.
  </p>

  <p>
    We hope that this generator will help you find a strong password for
    yourself. :)
  </p>
</div>

{% endblock %}
