<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Icon -->
    {% load static %}
    <link rel="icon" href="{% static '/img/favicon.ico' %}" type="image/ico">
    <title>Inter_Error | Password Generator</title>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100 bg-dark text-light">
        <div class="text-center">
            <h1 class="display-1 fw-bold">500</h1>
            <p class="fs-3"> <span class="text-warning">WOpps!</span> Something went wrong</p>
            <p class="lead">
                If you don't want to try again, I'll understand :(
              </p>
            <a href="{% url 'home' %}" class="btn btn-warning">Go Home</a>
        </div>
    </div>
</body>
</html>